@page
@model BizQuickTime.Web.Pages.Companies.DetailsModel

@{
    ViewData["Title"] = "Details";
    ViewData["ActivePage"] = BizQuickTime.Web.Pages.Shared.ManageNavPages.Companies;
}


<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Currency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Currency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.ContactName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.ContactName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.VatNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.VatNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.VatPercentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.VatPercentage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CompanyRegNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyRegNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.PhoneNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.PhoneNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CompanyLogo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyLogo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Company.CompanyID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
