@page
@model BizQuickTime.Web.Pages.Companies.IndexModel

@{
    ViewData["Title"] = "Companies";
    ViewData["ActivePage"] = BizQuickTime.Web.Pages.Shared.ManageNavPages.Companies;
}

    

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="row">
    <div class="col-xs-12 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Company[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company[0].Currency)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company[0].ContactName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company[0].Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company[0].VatNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company[0].VatPercentage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company[0].CompanyRegNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company[0].PhoneNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company[0].Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company[0].CompanyLogo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Company)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Currency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VatNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VatPercentage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyRegNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyLogo)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.CompanyID">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.CompanyID">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.CompanyID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
